@keyframes fade-in-cfg {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out-cfg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* @-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */

.fade-in {
    animation: fade-in-cfg;
    animation-duration: 0.5s;
    /* -webkit-animation: fade-in 1s; */
}

.fade-out {
    animation: fade-out-cfg;
    animation-duration: 0.8s;
}

@@keyframes right-to-left {
    from { left: 0px; }
    to { left: 500px; }
}

.right-fly-in {
    animation: right-to-left;
    animation-duration: 1s;
}
