#contextMenu {
    position: absolute;
    left: -1000px;
    top: -1000px;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
    visibility: hidden;
}

#contextMenu:before, #contextMenu:after {
    border: 10px solid transparent;
    content: '';
    width: 0;
    width: 0;
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -20px;
    position: absolute;
}

#contextMenu:after {
    border-bottom-color: #fff;
    margin-top: -19px;
}

#contextMenu:before {
    border-bottom-color: #aeaeae;
}

.language-items {
    list-style: none;
    font-size: 10pt;
    text-align: left;
    font-weight: 600;
    word-break: keep-all;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.language-item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.language-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
