* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    cursor: default;
}

header, footer {
    flex: 0 0 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #eaebec;
    box-shadow: 0px -2px 1px #aeaeae inset;
}

footer {
    background-color: #fafbfc;
    box-shadow: 0px 2px 1px #aeaeae inset;
}

.main {
    flex: 1;
    width: 1012px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    /*color: white;*/
    width: 1012px;
    display: flex;
    justify-content: space-between;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: auto;
}

.navItem {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 16px;
    font-weight: 600;
    color: #000000;
}

.navLink {
    cursor: pointer;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

.navLinkHover {
    color: #000000;
    text-decoration: none;
}

/* .navItem a {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    list-style: none;
}

.navItem a:hover {
    color: #000000;
    text-decoration: none;
} */

.navItemCurrent {
    background-color: #ffffff;
    box-shadow: 0px -2px 1px #aeaeae;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navLinkCurrent {
    color: #000000;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.navLinkCurrent:hover {
    color: #000000;
    text-decoration: none;
}

.shortcut {
    flex: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.box {
    border: 1px solid #aeaeae
}
