<div id="root">
<div class="signForm fade-in">
    <ul>
        <li>
            <span class="title" data-i18n="label.user"></span>
            <input id="username" type="text"/>
        </li>
        <li>
            <span class="title" data-i18n="label.pwd"></span>
            <input id="pwd" type="password"/>
        </li>
        <li class="hSep"></li>
        <li>
            <span class="title"></span>
            <span>
                <button id="submit" type="submit" class="btnPrimary" data-i18n="label.signin"></button>
            </span>
            <span>
                <button id="reset" type="reset" class="btnNormal" data-i18n="label.clear"></button>
            </span>
            <span>
                <button id="toSignUp" class="btnNormal" data-i18n="label.signup"></button>
            </span>
        </li>
    </ul>
<div>
</div>
